/* Animation */
@keyframes popIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.layout {
  height: 100vh;
  display: grid;

  /* Rows: header (25%), main (auto), footer (small) */
  grid-template-rows: 10% 1fr 5%;

  /* Columns: sidebar (25%), content (75%) */
  grid-template-columns: 25% 75%;

  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}
header,
.todoTitleContainer {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: #000;
  padding: 2rem;
  color: white;
  border: 2px solid rgb(255, 255, 255, 0.4);
}
.todoTitleContainer {
  justify-content: center;
}
.sideBar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background: #000000;
  color: white;
  border: 2px solid rgb(255, 255, 255, 0.4);
}
.addProjectText {
  font-size: clamp(0.5rem, 1.8vw + 0.5rem, 4rem);
}
.addProjectBtn {
  width: fit-content;
}
.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  /* border: 2px solid rgb(255, 255, 255, 0.4); */
}
.content {
  grid-area: content;
  background: rgb(160, 161, 162);
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}
.addTodoBtnContainer {
  padding: 0.5rem;
}
.footer {
  grid-area: footer;
  background: #000000;
  color: white;
  font-size: 0.8rem;
  border: 2px solid rgb(255, 255, 255, 0.4);
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: clamp(10rem, 30vw + 5rem, 80rem);
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  margin-left: 2rem;
  border: 1px solid black;
  animation: popIn 0.25s ease-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.formTitle {
  font-size: clamp(0.5rem, 0.8vw + 0.5rem, 4rem);
}
.projectForm {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
}

.todoForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.titleInput,
.dueDateInput,
.priorityContainer {
  width: clamp(8rem, 90%, 80rem);
  padding: 2rem;
  font-size: clamp(0.5rem, 0.8vw + 0.5rem, 4rem);
  border-radius: 16px;
  border: 1px solid #ccc;
}
.priorityContainer {
  padding: 0.5rem 2rem;
}
.titleInput:focus,
.dueDateInput:focus,
.priorityLevel:focus {
  outline: none;
  border-color: #3b82f6;
}
.priorityContainer {
  display: flex;
  align-items: center;
  font-size: clamp(0.5rem, 0.5vw + 0.5rem, 4rem);
}
.btnContainer {
  display: flex;
  gap: 1rem;
}

/* Buttons */
.addProjectBtn,
.addTodoBtn,
.submitBtn,
.cancelBtn,
.deleteBtn,
.editBtn {
  padding: 1vw 1.2vw;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  color: white;
  transition: all 0.3s ease-in;
}

.submitBtn,
.editBtn,
.addProjectBtn,
.addTodoBtn {
  background: #3b82f6;
}

.submitBtn:hover,
.editBtn:hover,
.addTodoBtn:hover,
.addProjectBtn:hover {
  background: #2563eb;
  scale: 1.05;
  border: 0.1rem solid white;
}

.cancelBtn,
.deleteBtn {
  background: #ff0101;
}

.cancelBtn:hover,
.deleteBtn:hover {
  background: #ff4949;
  scale: 1.05;
  border: 0.1rem solid white;
}
.projectCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #2563eb;
  border-radius: 13px;
  border: 1px solid black;
  font-size: clamp(0.3rem, 1vw + 0.3rem, 4rem);
  transition: all 0.3s ease-in;
  color: white;
}
.projectCard:hover {
  scale: 1.05;
  border: 0.2rem solid white;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.active {
  scale: 1.05;
  border: 0.3rem solid rgb(0, 255, 72);
}
.projectActions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* width: max-content; */
}
.editBtn,
.deleteBtn {
  padding: 0.4rem;
  color: white;
}
.projectCard[data-default="true"] .editBtn,
.projectCard[data-default="true"] .deleteBtn {
  display: none;
}
.todoGrid {
  display: grid;
  /* place-items: center; */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  border-top: 0.2rem solid rgb(0, 0, 0, 0.4);
}
.todoContainer {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  width: clamp(200px, 90%, 800px);
  font-size: clamp(0.3rem, 1vw + 0.3rem, 4rem);
}
.todoContainer:hover {
  scale: 1.05;
  border: 0.1rem solid white;
}
.btnContainerTodo {
  display: flex;
  gap: 0.5rem;
  width: 30%;
}
.btnContainerTodo button {
  flex: 1;
  color: white;
}
.cardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.myCheckbox,
.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid #ffffff;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.myCheckbox:hover,
.checkbox:hover {
  border: 0.1rem solid #00ff4c;
  background-color: #fefefe;
}

.myCheckbox:checked,
.checkbox:checked {
  background-color: rgb(0, 255, 72);
  border-color: #fefefe;
  border: 0.1rem solid #000;
}

.myCheckbox:checked::after,
.checkbox:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
}
.checkbox {
  border-color: #000;
}
